//
//  Production.xcconfig
//  endrsd-ios
//
//  Created by Mikis Woodwinter on 9/5/19.
//  Copyright © 2019 Labs15SuperTeam. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "Pods/Target Support Files/Pods-Career Endorsement Tracker/Pods-Career Endorsement Tracker.release (production).xcconfig"

API_BASE_URL = http:/$()/endrsd-api.herokuapp.com/api/v1

// App Settings
APP_NAME = ENDRSD
APP_BUNDLE_ID = com.endrsd.ios
